@charset "UTF-8";

div#interface{
    width: 850px;/*Largura*/
    background-color: #ffffff ;/*Cor de fundo*/
    margin: -20 px auto, 0 px auto;/*Tamanho das margens no sentido horário do relógio
    começando por cima*/
    box-shadow: 0px, 0px, 10px, rgb(0,0,0,0.5);
    background-color: #d3c2b897;
    padding: 10px, 10px, 10px, 10px;/*Margens internas*/
}

header#cabecalho img#icone{
    position: absolute;
    top: 118px;
    right: 80px;
}

section#corpo img#icone1{
    position: absolute;
    top: 810px;
    left: 420px;
}
section#corpo img#icone2{
    position: relative;
    left: 400px;
    top: -20px;
}
section#corpo img#icone3{
    position: relative;
    top: -275px;
    left: 10px;
}
section#corpo img#icone4{
    position: relative;
    top: -255px;
    left: 10px;
}


header#cabecalho{
    margin: -10px;
    padding: 5px;
    border-bottom: 1px #473b3b solid;/*Borda inferior, cor marrom, solida*/
    height: 100px;
    width: 1600px;
    background-color: #d6540897;

    /*background: url("../_imagens/floor-g5deeb3a34_640.jpg") no-repeat 0px 80px;/*imagem atribuida ao background*/
}

header#cabecalho h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: #080808;
    padding: 0px;
    margin: 0px;
    
}


header#cabecalho h2{
    font-family: 'Times New Roman', Times, serif;
    color: #2b1c15;
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
    
}

nav#menu{
    display: block;/*Um block pode flutuar sobre a tela*/
}

nav#menu ul{
    list-style: none;/*Esconde o marcador*/
    text-transform: uppercase;/*Tudo maiusculo*/
    position: absolute;
    top: -15px;
    left: 800px;
}

nav#menu li{
    display: inline-block;/*Blocos exibidos na mesma linha*/
    background-color: #2b1c15;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #8f8f8f;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: rgb(244, 242, 242);
    text-decoration: none;/*retira o sublinhado*/
}

table#tabel{
    border: 1px solid #0a0a0a;
    border-spacing: 0px;
    margin-left: auto;/*Tabela centralizada*/
    margin-right: auto;/*Tabela centralizada*/
}

table#tabel td{
    border: 1px solid #0a0a0a;/*Uma borda criada para cada célula*/
    padding: 10px;
    
}

table#tabel td.ce{
    color: #f0eae8;
    background-color: rgba(44, 14, 2, 0.663);
    vertical-align: top;
    text-align: right;
    font-weight: bold;    
}

table#tabel td.cd{
   text-align: left;
   background-color: #926857;
   color: #fcfbfb;
}

table#tabel caption span{
    display: block;
    float: right;/*Alinhamento a direita*/
    color: #0a0a0a;
    font-size: 12px;
    margin-top: 10px;/*Margem do topo*/
}

aside#lateral1 a{
    text-decoration: none;
}

aside#lateral1 p{
    text-align: center;
    left: 110px;
    top: 33px;
}

section#corpo{
    display: block;/*Mostra como um bloco*/
    width: 1036px;
    float: left;/*Section flutua pelo lado esquerdo*/
    border-right: 1px solid #0a0a0a;/*Cria borda à direita do section*/
    padding-right: 5px;

}

aside#lateral1{
    position: relative;
    display: block;
    float: left;
    width: 340px;
    left: 50px;
    
}

footer#rodape{
    display: block;
    clear: both;/*Conteúdo é mostrado fora do section e do aside*/
    border-top: 1px solid #0a0a0a;
    background-color: #d6540897;
    margin: -15px;
    padding: 3px;
}

footer#rodape p{
    text-align: center;
}

ul#abas{
    left: 150px;
}

li#home{
    right: 80px;
}

body{
    background-color: #b79d8f97;
}

title#titulo2{
    text-align: center;
}